* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: "DynaPuff", cursive;
}
body {
  background-color: gray;
}

.modal {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 270px;
  margin-top: 20px;
  padding: 25px;
  gap: 15px;

  background: #3405a3;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
  font-family: "Ubuntu", sans-serif;
}
.form button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 700;
}

.form button:hover {
  background: #534bf3;
}
