* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  font-family: "DynaPuff", cursive;
}
body {
  width: 100vw;
  background-color: gray;

}

.modal {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 270px;
  margin-top: 10px;
  padding: 20px;
  gap: 15px;
  background-color:  white;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #020617;
  font-family: "Ubuntu", sans-serif;
}
.form span{
  font-weight: 700;
  
}
.form button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;

  background: #1e40af;
  color: white;
  font-weight: 700;
}
.form button:hover {
  background: #534bf3;
}

.input {
  width: 150px;
  height: 100px;
  padding: 0 16px;
  background: transparent;

  border-radius: 4px;
  border: 1px solid #DB1A00;
  color: 000000;
  animation: shake_541 0.14s 3;
}
.input:valid {
  border-color: #45feaf;
  animation: none;
}
.is-read{
  display: flex;
justify-content: center;
gap: 2px;
}
.checkbox{
  width: 20px;
  height: 20px;
}
.books-grid{
  display: inline-grid;
  grid-template: auto auto/350px 350px 350px 350px ;
  gap: 20px;
  padding: 20px;
}
.book-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200px;
  padding: 15px;
  gap: 10px;
  font-size: 18px;
  border: none;
  background: #f3f4f6;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
}

